/* Shopping Cart Popup */

.shopping-cart__container {
    position: fixed;
    display: none;
    align-items: center;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: rgba(17, 19, 23, 0.98); */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 3;
}

.shopping-cart__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0 0 0;
    align-items: center;
    width: 84%;
    left: 7%;
}

.shopping-cart-title {
    margin: 0;
    background: linear-gradient(90deg,
            #0cebeb 46.51%,
            #20e3b2 71.72%,
            #29ffc6 99.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 90px;
    font-weight: 700;
    line-height: 73.5px;
    font-variant: small-caps;
}

.shopping-cart-subtitle {
    padding: 0px 0 73px 0;
    margin: 0;
    color: rgba(219, 219, 219, 0.5);
    text-align: center;

    font-size: 23px;
    font-weight: 500;
    line-height: 73.5px;
    font-variant: small-caps;
}

.shopping-cart__block {
    /* width: 875px; */
    /* height: 601px; */
    display: flex;
}

.shopping-cart__left-block {
    width: 372px;
    height: 537px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 12px 0px 0px 12px;
    background: #181c22;
}

.shopping-cart__left-subtitle {
    color: #62646c;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
}

.shopping-cart__left-close {
    position: relative;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.shopping-cart__left-close::before {
    content: "";
    position: absolute;
    background-image: url("../images/icons/closeModal.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
}

.shopping-cart__left-title {
    margin: 0;
    text-align: left;
    color: #dbdbdb;
    padding: 0 0 10px 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.48px;
}

.shopping-cart__left-block-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    background: none;
    border: none;
}

.shopping-cart__left-text {
    color: #62646c;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}

.shopping-cart__left-cards-block {
    display: flex;
    width: 400px;
    height: 200px;
    border-radius: 8px;
    gap: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
}

.shopping-cart__card {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.03);
    padding: 18px 16px;
    width: 370px;
}

.shopping-cart__card-block {
    display: flex;
    gap: 50px;
    align-items: center;
}

.shopping-cart__card-quantity {
    display: flex;
    gap: 20px;
    align-items: center;
}

.shopping-cart__card-quantity-plus,
.shopping-cart__card-quantity-minus {
    display: flex;
    position: relative;
    width: 17px;
    height: 20px;
    padding: 23px 16px;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.shopping-cart__card-quantity-plus::before {
    content: "";
    background: rgba(255, 255, 255, 0.03);
    position: absolute;
    right: 45px;
    min-height: 20px;
    width: 1px;
}

.shopping-cart__card-quantity-plus::after {
    content: "";
    position: absolute;
    background-image: url("../images/icons/plusIcon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
}

.shopping-cart__card-quantity-minus::after {
    content: "";
    position: absolute;
    background-image: url("../images/icons/minus.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 3px;
}

.shopping-cart__card-block {
    display: flex;
    justify-content: space-between;
    color: #62646c;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
}

.shopping-cart__total {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping-cart__total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.shopping-cart__text {
    color: #62646c;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.168px;
}

.shopping-cart__subtext {
    /* padding: 0 20px 0 0; */
    color: #dbdbdb;
    text-align: right;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0.56px;
}

.shopping-cart__total-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.shopping-cart__total-promocode {
    width: 100%;
}

.shopping-cart__total-btn {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg,
            #0cebeb -0.44%,
            #20e3b2 33.48%,
            #29ffc6 71.39%);
    color: #111317;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
}

.shopping-cart__input {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.03);
    border: none;
    width: calc(100% - 144px);
    max-width: 1319px;
    padding: 0 65px 0px 79px;
    text-align: left;
    height: 70px;
    gap: 20px;
    outline: none;
    color: #62646c;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.shopping-cart__input::placeholder {
    color: #62646c;
}

.shopping-cart__input:focus {
    color: #dbdbdb;
}

.shopping-cart__input-btn {
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 30px;
    height: 20px;
    top: 40px;
    right: 10px;
}

.shopping-cart__input-btn::before {
    content: "";
    position: absolute;
    background-image: url("../images/icons/promocode.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 38px;
    height: 24px;
    top: 0px;
    left: -177px;
}

.shopping-cart__right-block {
    display: flex;
    border-radius: 0px 12px 12px 0px;
    background: #181c22;
    flex-direction: column;
    padding: 30px;
    width: 380px;
    height: 537px;
}

.shopping-cart__right-subtitle {
    color: #62646c;
    font-size: 12px;
    text-align: left;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}

.shopping-cart__right-btns-block {
    display: flex;
    gap: 14px;
    height: 42%;
    width: 100%;
    flex-wrap: wrap;
}

.shopping-cart__right-btn--active {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    width: 22%;
    height: 15%;
    border-radius: 6px;
    border: 2px solid #0cebeb;
    cursor: pointer;
}

.shopping-cart__btn-title-img-qiwi {
    background-image: url("../images/icons/qiwi.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 66px;
}

.shopping-cart__btn-title-img-qiwi::before {
    content: "qiwi";
    position: absolute;
    text-transform: uppercase;
    color: #62646c;

    font-size: 6px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    top: 0;
    left: 10px;
}

.shopping-cart__right-btn-freekassa,
.shopping-cart__right-btn-visa,
.shopping-cart__right-btn-walletKz,
.shopping-cart__right-btn-walletUkr,
.shopping-cart__right-btn-bitcoin,
.shopping-cart__right-btn-sbp,
.shopping-cart__right-btn-steam {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    width: 23%;
    height: 18%;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.03);
    cursor: pointer;
}

.shopping-cart__btn-title-img-freekassa {
    background-image: url("../images/icons/freekassaIcon.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
}

.shopping-cart__btn-title-img-freekassa::before {
    display: none;
    content: "freekassa";
    position: absolute;
    text-transform: uppercase;
    color: #62646c;

    font-size: 6px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    top: 0;
    left: 10px;
}

.shopping-cart__btn-title-img-visa {
    background-image: url("../images/icons/visa.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
}

.shopping-cart__btn-title-img-visa::before {
    display: none;
    content: "visa";
    position: absolute;
    text-transform: uppercase;
    color: #62646c;

    font-size: 6px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    top: 0;
    left: 10px;
}

.shopping-cart__btn-title-img-walletKz {
    background-image: url("../images/icons/kzFlag.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
}

.shopping-cart__btn-title-img-walletKz::before {
    display: none;
    content: "wallet";
    position: absolute;
    text-transform: uppercase;
    color: #62646c;

    font-size: 6px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    top: 0;
    left: 10px;
}

.shopping-cart__btn-title-img-walletUkr {
    background-image: url("../images/icons/Group.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
}

.shopping-cart__btn-title-img-walletUkr::before {
    display: none;
    content: "wallet";
    position: absolute;
    text-transform: uppercase;
    color: #62646c;

    font-size: 6px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    top: 0;
    left: 10px;
}

.shopping-cart__btn-title-img-bitcoin {
    background-image: url("../images/icons/bitcoin.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
}

.shopping-cart__btn-title-img-bitcoin::before {
    display: none;
    content: "bitcoin";
    position: absolute;
    text-transform: uppercase;
    color: #62646c;

    font-size: 6px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    top: 0;
    left: 10px;
}

.shopping-cart__btn-title-img-sbp {
    background-image: url("../images/icons/sbp.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
}

.shopping-cart__btn-title-img-sbp-text {
    background-image: url("../images/icons/sbpIcon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 40px;
}

.shopping-cart__btn-title-img-sbp::before {
    display: none;
    content: "sbp";
    position: absolute;
    text-transform: uppercase;
    color: #62646c;

    font-size: 6px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    top: 0;
    left: 10px;
}

.shopping-cart__btn-title-img-steam {
    background-image: url("../images/icons/steamIcon.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
}

.shopping-cart__btn-title-img-steam::before {
    display: none;
    content: "steam";
    position: absolute;
    text-transform: uppercase;
    color: #62646c;

    font-size: 6px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    top: 0;
    left: 10px;
}

.shopping-cart__right-input {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.03);
    color: #dbdbdb;
    border: none;
    width: 90%;
    max-width: 1319px;
    padding: 0 65px 0px 79px;
    text-align: left;
    height: 70px;
    gap: 20px;
    outline: none;

    font-size: 18px;
    font-weight: 500;
    line-height: 73.5px;
    font-variant: small-caps;
}

.shopping-cart__right-input:focus {
    color: #dbdbdb;
}

.shopping-cart__right-input::placeholder {
    color: #62646c;
}

.shopping-cart__right-input-mail {
    position: relative;
    margin: 20px 0 20px 0;
    width: 98%;
    height: 65px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.03);
    display: flex;
    align-items: center;
}

.shopping-cart__right-input {
    height: 100px;
    padding: 0 70px 0 20px;
    background: none;
    outline: none;
    border: none;
}

.shopping-cart__right-input-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 30px;
    top: 5px;
    right: 65px;
}

.shopping-cart__right-input-btn::before {
    content: "";
    position: absolute;
    background-image: url("../images/icons/mail.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 38px;
    height: 24px;
    top: 20px;
    left: 15px;
}

.shopping-cart__right-info-block {
    width: 95%;
    padding: 10px;
    height: 175px;
    border-radius: 6px;
    background: rgba(224, 173, 50, 0.04);
}

.shopping-cart__right-block-text {
    margin: 0;
    padding: 0 0 10px 0;
    color: rgba(224, 173, 50, 0.88);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.144px;
}


@media (max-width:1020px) {

    /* Shopping cart popup */

    .shopping-cart__container {
        position: absolute;
    }

    .shopping-cart__block {
        flex-direction: column-reverse;
        width: 100%;
        height: 1270px;
    }

    .shopping-cart-title {
        font-size: 30px;
        margin: 0 0 103px 0;
    }

    .shopping-cart-subtitle {
        display: none;
    }

    .shopping-cart__right-block {
        width: 92%;
        height: 48%;
        border-radius: 12px 12px 0 0;
    }

    .shopping-cart__left-close::before {
        width: 12px;
        height: 12px;
        top: -670px;
        left: -76px;
    }

    .shopping-cart__left-block {
        width: 90%;
        border-radius: 0 0 12px 12px;
    }

    .shopping-cart__left-cards-block {
        width: 100%;
    }

    .shopping-cart__total-promocode {
        width: 100%;
    }

    .shopping-cart__right-btn-qiwi,
    .shopping-cart__right-btn-freekassa,
    .shopping-cart__right-btn-visa,
    .shopping-cart__right-btn-walletKz,
    .shopping-cart__right-btn-walletUkr,
    .shopping-cart__right-btn-bitcoin,
    .shopping-cart__right-btn-sbp,
    .shopping-cart__right-btn-steam {
        width: 25%;
        height: 23%;
    }

    .shopping-cart__btn-title-img-qiwi,
    .shopping-cart__btn-title-img-freekassa,
    .shopping-cart__btn-title-img-visa,
    .shopping-cart__btn-title-img-walletKz,
    .shopping-cart__btn-title-img-walletUkr,
    .shopping-cart__btn-title-img-bitcoin,
    .shopping-cart__btn-title-img-sbp,
    .shopping-cart__btn-title-img-steam {
        height: 30px;
    }

    .shopping-cart__btn-title-img-sbp-text {
        width: 33px;
    }

    .shopping-cart__content {
        left: 0;
        width: 100%;
    }

    .shopping-cart__right-subtitle {
        width: 100%;
    }

    .shopping-cart__right-input-mail {
        margin: 30px 0;
        width: 100%;
    }

    .shopping-cart__right-block-text {
        font-size: 12px;
    }

    .shopping-cart__right-info-block {
        width: 94%;
    }

    .shopping-cart__card-quantity {
        display: none;
    }

    .shopping-cart__right-btns-block {
        height: 50%;
        width: 100%;
    }

    .shopping-cart__card {
        width: 92%;
    }

    .shopping-cart__total-price {
        width: 100%;
    }

    .shopping-cart__input {
        width: 90%;
        padding: 0 1px 0 40px;
    }

    .shopping-cart__input-btn {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .shopping-cart__total-promocode {
        position: relative;
    }

    .shopping-cart__input-btn::before {
        left: 0;
        top: -5px;
    }

    .shopping-cart__total-block {
        width: 100%;
    }

    .shopping-cart__total-btn {
        width: 100%;
    }
}

@media (max-width: 894px) {
    .shopping-cart__right-block {
        width: 83%;
    }

    .shopping-cart__block {
        width: 350px;
        flex-direction: column-reverse;
    }

    .shopping-cart__content {
        width: 100%;

    }

    .shopping-cart__right-btn-qiwi,
    .shopping-cart__right-btn-freekassa,
    .shopping-cart__right-btn-visa,
    .shopping-cart__right-btn-walletKz,
    .shopping-cart__right-btn-walletUkr,
    .shopping-cart__right-btn-bitcoin,
    .shopping-cart__right-btn-sbp,
    .shopping-cart__right-btn-steam {
        width: 20%;
        height: 15%;
    }

    .shopping-cart__right-btns-block {
        gap: 4;
    }

    .shopping-cart__left-block {
        padding: 0 30px 30px 30px;
        width: 83%;
        height: 45%;
    }

    .shopping-cart__left-subtitle {
        display: flex;
        width: 309.72px;
        height: 14.67px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        text-align: left;
    }
}