body {
    font-family: 'Montserrat', sans-serif;
    background-color: #111317;
    min-width: 350px;
    position: relative;
    margin: 0;
    padding: 0;
}

body::after {
    content: "";
    background-image: url("../images/icons/pattern.svg");
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.25;
    -moz-opacity: 0.25;
    -webkit-opacity: 0.25;
    filter: alpha(opacity=25);
}

.gamePage__preview-wrapper {
    position: relative;
    max-width: 1410px;
    height: 1760px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
}

.gamePage__preview-wrapper::before {
    content: "";
    position: absolute;
    bottom: 937px;
    width: 311.88px;
    height: 908.818px;
    z-index: -1;
    transform: rotate(-31.418deg);
    border-radius: 908.818px;
    opacity: 0.15;
    -moz-opacity: 0.15;
    -webkit-opacity: 0.15;
    filter: alpha(opacity=15);
    background: #6C48FF;
    filter: blur(90px);
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("../images/icons/gradientEllipse2.svg");

}

.gamePage__preview-wrapper::after {
    content: "";
    position: absolute;
    right: 1199px;
    bottom: 1201px;
    width: 311.88px;
    height: 908.818px;
    z-index: -1;
    transform: rotate(-31.418deg);
    border-radius: 908.818px;
    opacity: 0.15;
    -moz-opacity: 0.15;
    -webkit-opacity: 0.15;
    filter: alpha(opacity=15);
    background: #48FFD3;
    filter: blur(85px);
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("../images/icons/gradientEllipse1.svg");
}


/* Header */
.header {
    background: rgba(23, 25, 29, 0.48);
    -webkit-backdrop-filter: blur(53.5px);
    backdrop-filter: blur(53.5px);
}

.header__content {
    max-width: 1410px;
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;

}

.header__nav {
    margin-left: 0;
    width: 320px;
    padding: 30px 15px;
}

.nav__logo {
    position: relative;
    margin: 0 50px 0 0;
}

.nav__logo::after {
    content: "";
    background: rgba(255, 255, 255, 0.22);
    position: absolute;
    bottom: 12px;
    left: 95px;
    min-height: 20px;
    width: 1px;
}

.header__nav-list {
    max-width: 1410px;
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    padding: 0;
    color: rgba(219, 219, 219, 0.68);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.24px;
    text-transform: uppercase;
}


.header__nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: rgba(219, 219, 219, 68);
}

.header__nav-left {
    display: flex;
    text-transform: uppercase;
}

.header__center {
    margin: 0 auto;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.header__center-btn {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: rgba(149, 151, 159, 1);
    border: none;
}

.header__center-btn::before {
    content: "";
    background-image: url("../images/icons/BtnSearch.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
}


.header__right-link {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    align-items: center;
    color: rgba(219, 219, 219, 0.85);
}

.header__right-link:nth-child(2) {
    position: relative;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.07);
}

.header__right-link:nth-child(3) {
    color: #111317;
    background: #4AF7CA;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.28px;
    border-radius: 8px;
}

.header__right-link:nth-child(1)::before {
    content: "";
    background-image: url("../images/icons/btnInfo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
}

.header__right-link:nth-child(2)::before {
    content: "";
    background-image: url("../images/icons/btnProfile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    padding: 3px 0 0 0;
}

.header__right-link:nth-child(2)::after {
    content: "";
    background: rgba(255, 255, 255, 0.22);
    position: absolute;
    bottom: 12px;
    left: 135px;
    min-height: 20px;
    width: 1px;
}

.header__right-link:nth-child(3)::before {
    content: "";
    background-image: url("../images/icons/btnTg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    padding: 3px 0 0 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    min-height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.gamePage__preview {
    display: flex;
    justify-content: space-between;
    max-width: 1410px;
    width: 90%;
    margin: 0 auto;
    /* align-items: flex-start; */
    gap: 28px;
}


.gamePage__info {
    display: flex;
    width: 930px;
    /* padding: 30px 30px 0 30px; */
    align-items: flex-start;
    gap: 30px;
    border-radius: 12px;
    padding: 30px;
    background: #171B20;
}


.gamePage__preview-links {
    display: flex;

}

.gamePage__preview-link {
    color: rgba(229, 229, 229, 0.50);
    background-repeat: no-repeat;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;

}

.gamePage__preview-link:nth-child(1)::after {
    content: ">";
    background-position: center;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.gamePage__link {
    display: flex;
    flex-direction: column;
}

.gamePage__info-img {
    width: 240px;
    height: 365px;
    object-fit: cover;
}

.gamePage__link-icon {
    position: relative;
}

.gamePage__link-icon::before {
    content: "";
    position: absolute;
    background-image: url("../images/icons/linkIcon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 15px;
    left: 22px;
    width: 30px;
    height: 30px;
}


.gamePage__links {
    display: flex;
    width: 151px;
    margin: 0 0 0 48px;
    flex-direction: column;
    height: 60px;
    justify-content: center;
}

.gamePage__link-container {
    display: flex;
    gap: 41px;
    margin: 0 0 12px 0;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.04);
    justify-content: center;

}

.gamePage__links-title {
    color: #62646C;
    font-size: 10px;
    margin: 0;
    width: 125px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    text-decoration: none;
}

.gamePage__link {
    color: rgba(229, 229, 229, 0.78);
    font-size: 11px;
    width: 125px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.132px;
    text-transform: uppercase;
    text-decoration: none;
}

.gamePage__gameplay-category {
    color: #62646C;
    margin: 0 0 10px 0;
    /* font-size: 12px; */
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
}

.gamePage__gameplay-title {
    color: #DBDBDB;
    /* font-size: 28px; */
    margin: 0;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.56px;

}


.gamePage__gameplay-text {
    margin: 0 0 10px 0;
}


.gamePage__gameplay-img {
    height: 365px;
    width: 638px;
}


.gamePage__requirements {
    max-width: 990px;
    height: 719px;
    /* background: rgba(23, 25, 29, 0.48); */
}

.gamePage__requirements-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #171B20;
    border-radius: 8px 8px 0 0px;
}

.gamePage__requirements-btn {
    /* display: flex; */
    background: transparent;
    color: #95979F;
    border: none;
    /* height: 24px; */
    width: 78px;
    align-items: center;
    width: 930px;
    height: 84px;
    cursor: pointer;

}

.gamePage__requirements-btn:nth-child(1)::before {
    content: "";
    position: absolute;
    background-image: url("../images/icons/description.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 25px;
    left: 85px;
    width: 30px;
    height: 30px;
}

.gamePage__requirements-btn:nth-child(1) {
    position: relative;
}

.gamePage__requirements-btn:nth-child(2) {
    position: relative;
}

.gamePage__requirements-btn:nth-child(3) {
    position: relative;
}

.gamePage__requirements-btn:nth-child(2)::before {
    content: "";
    position: absolute;
    background-image: url("../images/icons/requirements.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 25px;
    left: 40px;
    width: 30px;
    height: 30px;
}


.gamePage__requirements-btn:nth-child(2) {
    background: var(--1, linear-gradient(90deg, #0CEBEB -0.44%, #20E3B2 33.48%, #29FFC6 71.39%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.gamePage__requirements-btn:nth-child(3)::before {
    content: "";
    position: absolute;
    background-image: url("../images/icons/eye.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 25px;
    left: 75px;
    width: 30px;
    height: 30px;
}

.gamePage__requirements-info {
    background: rgba(23, 25, 29, 0.48);
    margin: 0;
    width: 930px;
    padding: 30px;
    text-transform: uppercase;

}


.gamePage__requirements-title {
    color: #62646C;
    padding: 0 0 15px 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.168px;
}

.gamePage__requirements-title {
    color: #62646C;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.168px;
}

.gamePage__requirements-list {
    color: #62646C;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.168px;
}

.gamePage__requirements-list-item-title {
    margin: 0 0px 0 -20px;
}


.gamePage__buy-wrapper {
    margin: 90px 0 0 0;
    /* position: relative; */
    max-width: 1410px;
    display: flex;
    height: 600px;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    /* margin: 0 auto; */
}


.gamePage__buy-wrapper::before {
    content: "";
    position: absolute;
    right: 200px;
    top: 0px;
    right: 184px;
    bottom: 1904px;
    z-index: -1;
    transform: rotate(15deg);
    border-radius: 683.016px;
    opacity: 0.15;
    -moz-opacity: 0.15;
    -webkit-opacity: 0.15;
    filter: alpha(opacity=15);
    background: #6C48FF;
    filter: blur(90px);
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("../images/icons/gradientEllipse4.svg");

}

.gamePage__buy-wrapper::after {
    content: "";
    right: 0px;
    top: 53px;
    width: 419.82px;
    z-index: -5;
    height: 528.848px;
    z-index: -3;
    transform: rotate(30deg);
    border-radius: 528.848px;
    flex-shrink: 0;
    opacity: 0.15;
    -moz-opacity: 0.15;
    -webkit-opacity: 0.15;
    filter: alpha(opacity=15);
    background: #48FFD3;
    filter: blur(90px);
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("../images/icons/gradientEllipse3.svg");
}







.gamePage__buy-text {
    position: relative;
    border-radius: 8px 8px 0 0;
    height: 18px;
    background: #1B2026;
    padding: 24px 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamePage__buy-text::before {
    content: "Данные о товаре";
    background: linear-gradient(90deg, #0CEBEB 0.25%, #20E3B2 47.04%, #29FFC6 99.32%);
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
    font-size: 16px;
}

.gamePage__buy-text::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 115px;
    min-height: 3px;
    width: 50%;
    border-radius: 8px;
    background: var(--1, linear-gradient(90deg, #0CEBEB -0.44%, #20E3B2 33.48%, #29FFC6 71.39%));
}

.gamePage__buy-quantity {
    margin: -46px 0 0 0;
    padding: 30px;
    background: #171B20;
    height: 288px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 125% */
    letter-spacing: 0.48px;
}

.gamePage__buy-quantity-info {
    height: 73px;
    display: flex;
    justify-content: space-between;
    color: #919299;
    align-items: center;
    padding: 0px 24px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.02);
}

.gamePage__buy-quantity-info:nth-child(1) {
    color: #FCFCFD;
    border-radius: 12px;
    border: 2px solid var(--1, #0CEBEB);
}

.gamePage__buy-quantity-info:nth-child(3) {
    position: relative;
}

.gamePage__buy-quantity-info:nth-child(3)::after {
    content: "";
    position: absolute;
    background-image: url("../images/icons/buySticker.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 102px;
    left: -29px;
    width: 490px;
    height: 80px;
}

.gamePage__buy-price {
    background: #171B20;
    padding: 0 30px 30px 30px;
    margin: 25px 0 0 0;
}


.gamePage__price {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.gamePage__price-btn {
    color: #62646C;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.168px;

}

span {
    color: #DBDBDB;
    text-align: right;
    leading-trim: both;
    text-edge: cap;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    /* 121.429% */
    letter-spacing: 0.56px;
}

.gamePage__buy-btn {
    color: #111317;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    display: flex;
    width: 390px;
    height: 68px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--1, linear-gradient(90deg, #0CEBEB -0.44%, #20E3B2 33.48%, #29FFC6 71.39%));
}

.gamePage__buy-btn:nth-child(2) {
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    display: flex;
    width: 390px;
    height: 68px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    border-radius: 12px;
    background: transparent;
    border: 2px solid #20E3B2;

}

.gamePage__buy-btns {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 30px 0 30px 0;
}



input[type=checkbox] {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #969696;
    border-radius: 4px;
    vertical-align: middle;
    position: relative;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.check-title[type=checkbox] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #969696;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

input[type=checkbox]:checked {
    background-color: #DBDBDB;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=checkbox]::before {
    position: absolute;
    content: "";
    background-image: url("../images/icons/checkArrow.svg");
    width: 10px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 50px;
    line-height: 15px;
    color: #DBDBDB;
    transform: scale(0);
    transition: 0.3s all ease-in-out;
}

input[type=checkbox]:checked::before {
    transform: scale(1);
}

.check-title {
    font-size: 15px;
    font-weight: 700;
    color: #95979F;
    text-transform: uppercase;
}


.gamePage__buy-terms {
    display: flex;
    gap: 20px;
    color: #62646C;
    font-size: 14px;
    padding: 30px 0px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.168px;
}

.gamePage__buy-terms-link {
    color: #DBDBDB;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.168px;
}

.gamePage__buy-similar-text {
    position: relative;
    border-radius: 8px 8px 0 0;
    height: 18px;
    background: rgba(255, 255, 255, 0.03);
    padding: 24px 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamePage__buy-similar-text::before {
    content: "Похожие товары";
    background: linear-gradient(90deg, #0CEBEB 0.25%, #20E3B2 47.04%, #29FFC6 99.32%);
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
    font-size: 16px;
}

.gamePage__buy-similar-text::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 120px;
    min-height: 3px;
    width: 50%;
    border-radius: 8px;
    background: var(--1, linear-gradient(90deg, #0CEBEB -0.44%, #20E3B2 33.48%, #29FFC6 71.39%));
}


.gamePage__buy-similar-card {
    width: 468px;
    display: flex;
    padding: 0 20px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(17, 19, 23, 0.86);
}

.gamePage__buy-similar-card:nth-child(4) {
    padding: 0 20px 0 0;
}

.gamePage__buy-similar-card-info {
    display: flex;
    gap: 16px;
    width: 468px;
    height: 124px;
    color: white;
    flex-direction: column;
    justify-content: center;
}


.gamePage__buy-similar-card-img {
    background-image: url('./images/discord.jpg');
    width: 140px;
    /* height: 124px; */
    border-radius: 8px 0 0 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gamePage__buy-similar-card-text-block {
    padding: 24px 25px;
}

.gamePage__buy-similar-card-title {
    color: #DBDBDB;
    font-size: 10px;
    font-weight: 800;
    line-height: 24px;
    width: 170px;
    padding: 0 0 16px 0;
}

.gamePage__buy-similar-card-icon:nth-child(1)::before {
    content: "";
    position: absolute;
    background-image: url("../images/icons/infoIcon1.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    min-height: 20px;
    margin: 10px;
    right: 125px;
}

.gamePage__buy-similar-card-icons {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    color: #76DBA1;
    text-transform: uppercase;
}

.games__buy-group-icons {
    display: flex;
    gap: 5px;
}


.gamePage__buy-similar-card-icon {
    display: flex;
    width: 180px;
    font-size: 9px;
    padding: 5px;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    background: rgba(118, 219, 161, 0.12);
}

.gamePage__buy-similar-card-price {
    display: flex;
    height: 20px;
    padding: 6px 17px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    background: rgba(118, 219, 161, 0.12);
}

.gamePage__buy-similar-card-price::before {
    content: "₽3600";
    background: linear-gradient(90deg, #0CEBEB 0.25%, #20E3B2 47.04%, #29FFC6 99.32%);
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
    font-size: 16px;
}

.gamePage__buy-similar-card-icon-discord {
    display: flex;
    height: 20px;
    padding: 5px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    background: rgba(118, 219, 161, 0.12);
}

.gamePage__buy-similar-card-icon-discord::before {
    content: "";
    background-image: url("../images/icons/discord.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.gamePage__buy-similar-card-icon-steam {
    display: flex;
    height: 20px;
    padding: 5px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    background: rgba(118, 219, 161, 0.12);
}

.gamePage__buy-similar-card-icon-steam::before {
    content: "";
    background-image: url("../images/icons/steam.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    min-height: 20px;
    display: flex;
    justify-content: center;
}

.gamePage__buy-similar-card-icon-info {
    display: flex;
    height: 20px;
    padding: 5px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    background: rgba(118, 219, 161, 0.12);
}

.gamePage__buy-similar-card-icon-info::before {
    content: "";
    background-image: url("../images/icons/infoIcon1.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    min-height: 20px;
    display: flex;
    justify-content: center;
}

.gamePage__buy-similar-games-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}




/* Footer */
.footer {
    height: 540px;
    display: flex;
    flex-direction: column;
    padding: 35px 0 0 0;
    justify-content: space-between;
    background: rgba(23, 27, 32, 0.36);
}

.footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo {
    opacity: 0.55;
}

.footer__payLogos {
    display: grid;
    grid-template-columns: repeat(3, 100px);
}

.footer__info-text {
    color: #62646C;
    width: 400px;
    margin: 30px 120px 30px 0;
}

.footer__questions-title {
    color: #62646C;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.footer__questions-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

.footer__questions-list-item {
    color: rgba(219, 219, 219, 0.68);
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
}

.footer__questions-blocks {
    display: flex;
    gap: 300px;
}

.footer__payLogo {
    width: 80px;
    height: 40px;
}

.footer__questions-list-icons {
    display: flex;
    gap: 30px;
}

.footer__questions-list-icons::before {
    content: "";
    background-image: url("../images/icons/vk.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    min-height: 20px;
    display: flex;
    justify-content: center;
}

.footer__questions-list-icons::after {
    content: "";
    background-image: url("../images/icons/tg.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    min-height: 20px;
    display: flex;
    justify-content: center;
}

.footer__about-text {
    color: #7B7C82;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footer__about-text span {
    color: rgba(98, 237, 237, 0.95);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.footer__about-container {
    border-top: 2px solid rgba(255, 255, 255, 0.04);
    padding: 35px 170px;
    display: flex;
    justify-content: space-between;
}

.footer__about-text-group {
    display: flex;
    gap: 20px;
}