body {
  font-family: "Montserrat", sans-serif;
  background-color: #111317;
  min-width: 350px;
  position: relative;
  margin: 0;
  padding: 0;
}

body::after {
  content: "";
  background-image: url("../images/pattern.png");
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.25;
  -moz-opacity: 0.25;
  -webkit-opacity: 0.25;
  filter: alpha(opacity=25);
}

.quarantee__wrapper {
  position: relative;
  max-width: 1410px;
  height: 1850px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 90%;
  margin: 0 auto;
  z-index: -1;
}

.quarantee__wrapper::before {
  content: "";
  position: absolute;
  bottom: 1300px;
  width: 311.88px;
  height: 908.818px;
  z-index: -1;
  transform: rotate(-31.418deg);
  border-radius: 908.818px;
  opacity: 0.15;
  -moz-opacity: 0.15;
  -webkit-opacity: 0.15;
  background: #6c48ff;
  filter: blur(90px);
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("../images/icons/gradientEllipse2.svg");
}

.quarantee__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 1250px;
  bottom: 300px;
  width: 311.88px;
  height: 908.818px;
  z-index: -1;
  transform: rotate(-31.418deg);
  border-radius: 908.818px;
  opacity: 0.15;
  -moz-opacity: 0.15;
  -webkit-opacity: 0.15;
  background: #48ffd3;
  filter: blur(85px);
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("../images/icons/gradientEllipse1.svg");
}

/* Header */

.header {
  width: 100%;
  background: rgba(23, 25, 29, 0.48);
  /* -webkit-backdrop-filter: blur(53.5px); */
  backdrop-filter: blur(53.5px);
}

.header__content {
  display: flex;
  align-items: center;
  max-width: 1410px;
  width: 90%;
  margin: 0 auto;
}

.header__nav {
  /* margin-left: 0; */
  width: 320px;
  padding: 30px 15px;
}

.nav__logo {
  position: relative;
  margin: 0 50px 0 0;
}

.nav__logo::after {
  content: "";
  background: rgba(255, 255, 255, 0.22);
  position: absolute;
  bottom: 12px;
  left: 95px;
  height: 20px;
  width: 1px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  color: rgba(219, 219, 219, 0.68);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  margin: 0;
}

.header__nav-link {
  text-decoration: none;
  color: rgba(219, 219, 219, 0.68);
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  transition: color 0.3s linear;
}

.header__nav-link:hover {
  color: #dbdbdb;
}

.header__center-btn {
  margin: 0 auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #95979f;
  transition: color 0.3s linear;
}

.header__center-btn:hover {
  color: #dbdbdb;
}

.header__side-panel {
  display: flex;
  gap: 40px;
}

.header__side-panel-link {
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  padding-left: 40px;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  align-items: center;
  color: rgba(219, 219, 219, 0.85);
  position: relative;
  transition: color 0.3s linear;
}

.header__side-panel-link:hover {
  color: #dbdbdb;
}

.header__side-panel-link:nth-child(1)::before {
  content: "";
  background-image: url("../images/icons/btnInfo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
}

.header__side-panel-link:nth-child(2) {
  font-size: 14px;
  padding: 17px 15px;
  padding-left: 40px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.07);
}

.header__side-panel-link:nth-child(2)::before {
  content: "";
  background-image: url("../images/icons/btnProfile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
}

.header__side-panel-link:nth-child(3) {
  color: #111317;
  background: #4af7ca;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.28px;
  border-radius: 8px;
}

.header__side-panel-link:nth-child(2)::after {
  content: "";
  background: rgba(255, 255, 255, 0.22);
  position: absolute;
  bottom: 12px;
  left: 122px;
  height: 20px;
  width: 1px;
}

.header__side-panel-link:nth-child(3)::before {
  content: "";
  background-image: url("../images/icons/btnTg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 15px;
}
.header__adaptive-btn {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}
.header__adaptive__block {
  display: none;
  z-index: 10;
  position: fixed;
  background-color: aliceblue;
  top: 96%;
  right: 20%;
  border-radius: 8px;
  background-color: #111317;
}

.header__adaptive-nav-list {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  align-items: center;
  padding: 30px;
  list-style: none;
}

.header__adaptive-link {
  color: rgba(229, 229, 229, 0.5);
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-transform: uppercase;
  text-decoration: none;
}
.header__adaptive-nav-list-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  border-radius: 8px;
  padding: 12px 24px;
  border-radius: 8px;
  color: rgba(219, 219, 219, 0.85);
  background: rgba(255, 255, 255, 0.07);
  font-size: 10px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.28px;
}
.header__adaptive-nav-list-tg {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  border-radius: 8px;
  background: #4af7ca;
  padding: 12px 24px;
  color: #111317;
  font-size: 10px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.28px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  min-height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.quarantee__links {
  display: flex;
}

.quarantee-link {
  color: rgba(229, 229, 229, 0.5);
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0 0;
}

.quarantee-link:nth-child(1)::after {
  content: ">";
  background-position: center;
  padding: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.quarantee__subtitle {
  color: #dbdbdb;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-transform: capitalize;
}

.quarantee__title {
  background: linear-gradient(
    90deg,
    #0cebeb -0.44%,
    #20e3b2 33.48%,
    #29ffc6 71.39%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  font-weight: 800;
  line-height: 59px;
  text-transform: capitalize;
  margin: 12px 0;
}

.quarantee__title-block {
  display: flex;
  flex-direction: column;
}

.quarantee__text-block {
  max-width: 1410px;
  margin: 0 0 10px 0;
  display: flex;
  height: 129px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.quarantee__text {
  width: 525px;
  height: 100px;
  color: #62646c;
  /* text-align: right; */
  font-size: 16px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 0.192px;
}

.quarantee__text-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 61%;
  bottom: 1400px;
  width: 311.88px;
  height: 908.818px;
  z-index: -1;
  transform: rotate(15deg);
  border-radius: 683.016px;
  opacity: 0.15;
  -moz-opacity: 0.15;
  -webkit-opacity: 0.15;
  filter: alpha(opacity=15);
  background: #6c48ff;
  filter: blur(90px);
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("../images/icons/gradientEllipse4.svg");
}

.quarantee__text-block::after {
  content: "";
  top: 0;
  position: absolute;
  left: 58%;
  /* bottom: 549px;*/
  bottom: 250px;
  width: 419.82px;
  height: 528.848px;
  transform: rotate(30deg);
  border-radius: 528.848px;
  flex-shrink: 0;
  opacity: 0.15;
  -moz-opacity: 0.15;
  -webkit-opacity: 0.15;
  filter: alpha(opacity=15);
  background: #48ffd3;
  filter: blur(90px);
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("../images/icons/gradientEllipse3.svg");
}

.quarantee-block {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.quarantee-title {
  color: #62646c;
  /* padding: 37px 0 21px 0; */
  height: 43px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.quarantee__left-card {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(7px);
  width: 450px;
  height: 236px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quarantee__card-icon {
  position: relative;
  color: #dbdbdb;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.28px;
}

.quarantee__card-icon-lock,
.quarantee__card-icon-eye,
.quarantee__card-icon-card,
.quarantee__card-icon-figures,
.quarantee__card-icon-print,
.quarantee__card-icon-question {
  position: relative;
}

.quarantee__card-icon-question::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/questionIcon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: -8px;
  right: 25px;
  width: 40px;
  height: 40px;
}

.quarantee__card-icon-lock::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/lock.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: -15px;
  right: 25px;
  width: 40px;
  height: 40px;
}

.quarantee__card-icon-eye::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/quaranteeEye.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: -10px;
  right: 20px;
  width: 40px;
  height: 40px;
}

.quarantee__card-icon-card::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/card.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: -15px;
  right: 25px;
  width: 40px;
  height: 40px;
}

.quarantee__card-icon-figures::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/Figures.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: -15px;
  right: 25px;
  width: 40px;
  height: 40px;
}

.quarantee__card-icon-print::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/fingerPrint.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: -15px;
  right: 25px;
  width: 40px;
  height: 40px;
}

.quarantee__left-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  width: 30%;
  /* height: 78%; */
}

.quarantee__left-card {
  width: 100%;
}
.quarantee__left-card-title-block {
  display: flex;
  width: 240px;
  justify-content: center;
  align-items: center;
  padding: 20px 75px 0 75px;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.quarantee__card-title {
  color: #dbdbdb;
  font-size: 20px;
  padding: 40px 0 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.28px;
}

.quarantee__card-text {
  color: #62646c;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.168px;
  padding: 0px 30px 45px 30px;
  width: 355px;
}

.quarantee-cards {
  gap: 30px;
  display: flex;
  /* flex-wrap: wrap; */
  width: 97%;
}

/* .quarantee__middle-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 0 90px 0;
} */

.quarantee__middle-card-title-block {
  display: flex;
  width: 240px;
  justify-content: center;
  align-items: center;
  padding: 20px 75px 0 75px;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.quarantee__middle-card {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(7px);
  width: 101%;
  height: 308px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quarantee__middle-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  width: 32%;
}

.quarantee__right-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  /* width: 100%;
  height: 86%; */
}

.quarantee__right-card-title-block {
  display: flex;
  width: 240px;
  justify-content: center;
  align-items: center;
  padding: 20px 75px 0 75px;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.quarantee__right-card {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(7px);
  width: 99%;
  height: 261px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  padding: 35px 0 0 0;
  justify-content: space-between;
  background: rgba(23, 27, 32, 0.36);
}

.footer__content {
  display: flex;
  justify-content: center;
  max-width: 1410px;
  width: 90%;
  margin: 0 auto;
  padding: 85px 0 85px 0;
}

.footer__logo {
  opacity: 0.55;
}

.footer__payLogos {
  display: grid;
  grid-template-columns: repeat(3, 100px);
}

.footer__info-text {
  color: #62646c;
  margin: 30px 120px 30px 0;
}

.footer__questions-title {
  color: #62646c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.footer__questions-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.footer__questions-list-item-link {
  text-decoration: none;
  color: rgba(219, 219, 219, 0.68);
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  transition: color 0.3s linear;
}

.footer__questions-list-item-link:hover {
  color: #dbdbdb;
}

.footer__questions-blocks {
  display: flex;
  gap: 200px;
}

.footer__payLogo {
  width: 80px;
  height: 40px;
}

.footer__questions-list-icons {
  display: flex;
  gap: 30px;
}

.footer__questions-list-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: #e4edef;
  transition: color 0.3s linear;
}

.footer__questions-list-icon:hover {
  color: #0cebeb;
}

.footer__about-text {
  display: flex;
  gap: 10px;
  color: #7b7c82;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.footer__about-text-link {
  color: rgba(98, 237, 237, 0.95);
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
}

.footer__about-container {
  max-width: 1410px;
  width: 90%;
  margin: 0 auto;
  border-top: 2px solid rgba(255, 255, 255, 0.04);
  display: flex;
  justify-content: space-between;
}

.footer__about-text-group {
  display: flex;
  gap: 20px;
}

/* Адаптив */

@media (max-width: 1195px) {
  .quarantee__wrapper::after,
  .quarantee__wrapper::before,
  .quarantee__text-block::before,
  .quarantee__text-block::after {
    display: none;
  }
  .quarantee-cards {
    width: 101%;
  }
  .quarantee__right-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    width: 31%;
  }
  .quarantee__left-cards {
    width: 31%;
    height: 107%;
  }
  .quarantee__left-card {
    width: 100%;
    height: 28%;
  }
  .quarantee__right-card {
    width: 102%;
    height: auto;
  }
  .quarantee__right-card-title-block {
    padding: 0;
    width: 30%;
  }

  .quarantee__middle-card {
    width: 99%;
    height: auto;
  }
  .quarantee__middle-card-title-block {
    width: 38%;
    padding: 0 42px 0 111px;
    /* padding: 28px 42px 0 111px; */
  }
  .quarantee__card-text {
    width: 70%;
  }
  .quarantee__left-card-title-block {
    width: 45%;
    padding: 20px 91px 0 97px;
  }
  .footer__about-text-group {
    padding: 10px 0 0 0;
  }
  .footer__about-container {
    padding: 0 0 20px 0;
  }
  .footer__questions-blocks {
    gap: 15px;
  }

  .footer__questions-block:nth-child(3) {
    position: static;
  }
}

@media (max-width: 835px) {
  .header__content {
    max-width: 680px;
    padding: 21px 60px;
  }
  .header__adaptive-btn {
    display: block;
  }
  .header__nav {
    display: none;
  }
  .header__side-panel-link:nth-child(2),
  .header__side-panel-link:nth-child(3) {
    display: none;
  }
  .quarantee__wrapper {
    height: 1916px;
  }
  .quarantee-cards {
    flex-direction: column;
    width: 47%;
    /* align-items: center;*/
  }
  .quarantee__card-title {
    font-size: 18px;
  }
  .quarantee-block {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .quarantee__text-block {
    height: 10%;
  }
  .quarantee__left-cards {
    width: 97%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: nowrap;
  }

  .quarantee__middle-cards {
    width: 99%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-between; */
    flex-wrap: nowrap;
  }
  .quarantee__right-cards {
    width: 213%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: nowrap;
  }

  .quarantee__left-card {
    width: 105%;
    height: 99%;
  }
  /* .quarantee__middle-cards {
    align-items: center;
    width: 39%;
  } */
  .quarantee__middle-card {
    width: 102%;
  }

  .footer__content {
    max-width: 722px;
  }
  .footer__questions-blocks {
    flex-direction: column;
    gap: 15px;
  }

  .footer__info-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .footer__questions-block:nth-child(3) {
    position: absolute;
    left: 5%;
    bottom: 4%;
  }
  .footer__about-container {
    flex-direction: column;
    max-width: 722px;
    padding: 0 0 30px 0;
  }
  .footer__about-text-group {
    padding: 40px 0 0 0;
  }
}
@media (max-width: 390px) {
  .quarantee__wrapper::after,
  .quarantee__wrapper::before,
  .quarantee__text-block::before,
  .quarantee__text-block::after {
    display: none;
  }
  .nav__logo {
    width: 60px;
    height: 30px;
  }
  .nav__logo::after {
    bottom: 4px;
    left: 88px;
  }
  .header__content {
    padding: 21px 17px;
  }
  .header__adaptive-btn {
    display: block;
  }
  .header__nav {
    display: none;
  }
  .header__side-panel-link:nth-child(2),
  .header__side-panel-link:nth-child(3) {
    display: none;
  }

  .quarantee__wrapper {
    height: 2870px;
    max-width: 350px;
    width: 80%;
  }

  .quarantee__title:nth-child(2) {
    position: relative;
    top: 2%;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 50px;
  }
  .quarantee__text {
    width: 300px;
    font-size: 13px;
    text-align: left;
  }
  .quarantee-block {
    border: none;
    max-width: 350px;
    width: 98%;
    display: flex;
    gap: 27px;
    /* flex-direction: column; */
  }
  .quarantee__text-block {
    /* gap: 69px; */
    width: 100%;
  }
  .quarantee__subtitle {
    margin: -20px 0 -29px 0;
  }

  .quarantee-title {
    position: relative;
    top: 1%;
    padding: 0;
    display: flex;
    /* flex-direction: column; */
    /* width: 40%;*/
  }

  .quarantee__title-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .quarantee-cards{
    width: 100%;
  }
  .quarantee__left-cards,
  .quarantee__middle-cards,
  .quarantee__right-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    flex-wrap: nowrap;
  }
  
  /* .quarantee__right-cards {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  } */

  .quarantee__left-card {
    width: 101%;
  }

  .quarantee__middle-card {
    width: 101%;
    height: 401px;
  }
  /* .quarantee__middle-card:nth-child(2) {
    margin: 0 0 100px 0;
  }

  .quarantee__right-card:nth-child(1) {
    margin: 0 0 60px 0;
  } */
  .quarantee__right-card {
    width: 101%;
    height: 332px;
  }

  .quarantee__left-card-title-block {
    padding: 33px 0 0 60px;
    width: 200px;
  }

  .quarantee__middle-card-title-block {
    padding: 0 0 0 60px;
    width: 200px;
  }

  .quarantee__right-card-title-block {
    padding: 0 0 0 60px;
    width: 200px;
  }

  .quarantee__card-text {
    width: 275px;
  }

  .footer__about-text {
    flex-direction: column;
  }
  .footer__about-text-group {
    flex-direction: column;
    padding: 10px 0 0 0;
  }
  .footer__about-container {
    flex-direction: column;
    padding: 0 0 20px 0;
  }
  .footer__questions-blocks {
    flex-direction: column;
    gap: 15px;
  }
  .footer__content {
    max-width: 350px;
    width: 80%;
    flex-direction: column;
  }
  .footer__questions-block:nth-child(3) {
    position: static;
  }
}
