body {
  font-family: "Montserrat", sans-serif;
  background-color: #111317;
  min-width: 350px;
  position: relative;
  margin: 0;
  padding: 0;
}

body::after {
  content: "";
  background-image: url("../images/pattern.png");
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.25;
  -moz-opacity: 0.25;
  -webkit-opacity: 0.25;
  filter: alpha(opacity=25);
}

.quarantee__wrapper {
  position: relative;
  max-width: 1410px;
  height: 1220px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 90%;
  margin: 0 auto;
  z-index: 1;
}

.quarantee__wrapper::before {
  content: "";
  position: absolute;
  bottom: 1300px;
  width: 311.88px;
  height: 908.818px;
  z-index: -1;
  transform: rotate(-31.418deg);
  border-radius: 908.818px;
  opacity: 0.15;
  -moz-opacity: 0.15;
  -webkit-opacity: 0.15;
  background: #6c48ff;
  filter: blur(90px);
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("../images/icons/gradientEllipse2.svg");
}

.quarantee__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 1250px;
  bottom: 300px;
  width: 311.88px;
  height: 908.818px;
  z-index: -1;
  transform: rotate(-31.418deg);
  border-radius: 908.818px;
  opacity: 0.15;
  -moz-opacity: 0.15;
  -webkit-opacity: 0.15;
  background: #48ffd3;
  filter: blur(85px);
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("../images/icons/gradientEllipse1.svg");
}

/* Header */

.header {
  width: 100%;
  background: rgba(23, 25, 29, 0.48);
  backdrop-filter: blur(53.5px);
  position: relative;
  z-index: 10;
}

.header__content {
  display: flex;
  align-items: center;
  max-width: 1410px;
  width: 90%;
  margin: 0 auto;
}

.header__nav {
  width: 320px;
  padding: 30px 15px;
}

.nav__logo {
  position: relative;
  margin: 0 50px 0 0;
}

.nav__logo::after {
  content: "";
  background: rgba(255, 255, 255, 0.22);
  position: absolute;
  bottom: 12px;
  left: 95px;
  height: 20px;
  width: 1px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  color: rgba(219, 219, 219, 0.68);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  margin: 0;
}

.header__nav-link {
  text-decoration: none;
  color: rgba(219, 219, 219, 0.68);
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  transition: color 0.3s linear;
}

.header__nav-link:hover {
  color: #dbdbdb;
}

.header__center-btn {
  margin: 0 auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #95979f;
  transition: color 0.3s linear;
}

.header__center-btn:hover {
  color: #dbdbdb;
}

.header__side-panel {
  display: flex;
  gap: 40px;
}

.header__side-panel-link {
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  padding-left: 40px;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  align-items: center;
  color: rgba(219, 219, 219, 0.85);
  position: relative;
  transition: color 0.3s linear;
}

.header__side-panel-link:hover {
  color: #dbdbdb;
}

.header__side-panel-link:nth-child(1)::before {
  content: "";
  background-image: url("../images/icons/btnInfo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
}

.header__side-panel-link:nth-child(2) {
  font-size: 14px;
  padding: 17px 15px;
  padding-left: 40px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.07);
}

.header__side-panel-link:nth-child(2)::before {
  content: "";
  background-image: url("../images/icons/btnProfile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
}

.header__side-panel-link:nth-child(3) {
  color: #111317;
  background: #4af7ca;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.28px;
  border-radius: 8px;
}

.header__side-panel-link:nth-child(2)::after {
  content: "";
  background: rgba(255, 255, 255, 0.22);
  position: absolute;
  bottom: 12px;
  left: 122px;
  height: 20px;
  width: 1px;
}

.header__side-panel-link:nth-child(3)::before {
  content: "";
  background-image: url("../images/icons/btnTg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 15px;
}

.header__adaptive-btn {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header__adaptive__block {
  z-index: 10;
  position: fixed;
  background-color: aliceblue;
  top: 82px;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 8px;
  background-color: #111317;
}

.header__adaptive__block--hidden {
  display: none;
}


.header__adaptive-nav-list {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  align-items: center;
  padding: 30px;
  list-style: none;
}

.header__adaptive-link {
  color: rgba(229, 229, 229, 0.5);
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__adaptive-nav-list-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  border-radius: 8px;
  padding: 12px 24px;
  border-radius: 8px;
  color: rgba(219, 219, 219, 0.85);
  background: rgba(255, 255, 255, 0.07);
  font-size: 10px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.28px;
}

.header__adaptive-nav-list-tg {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  border-radius: 8px;
  background: #4af7ca;
  padding: 12px 24px;
  color: #111317;
  font-size: 10px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.28px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  min-height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}


.breadcrumb {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
}

.breadcrumb li {
  position: relative;
}

.breadcrumb li a {
  color: rgba(229, 229, 229, 0.5);
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-weight: 700;
  align-items: center;
  margin: 30px 0 0 0;
}

.breadcrumb li a .link-name {
  color: rgba(229, 229, 229, 0.5);
  background-repeat: no-repeat;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(229, 229, 229, 0.50);
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  /* 200% */
  letter-spacing: 0.18px;
  text-transform: uppercase;
}

.breadcrumb li:nth-child(1)::after {
  content: ">";
  position: absolute;
  background-position: center;
  padding: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.18px;
  left: 100%;
  top: 35%;
  color: rgba(229, 229, 229, 0.50);
}



.quarantee__subtitle {
  color: #dbdbdb;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-transform: capitalize;
}

.quarantee__title {
  background: linear-gradient(90deg,
      #0cebeb -0.44%,
      #20e3b2 33.48%,
      #29ffc6 71.39%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  font-weight: 800;
  line-height: 59px;
  text-transform: capitalize;
  margin: 12px 0;
}

.quarantee__title-block {
  display: flex;
  flex-direction: column;
}

.quarantee__text-block {
  max-width: 1410px;
  margin: 0 0 10px 0;
  display: flex;
  height: 129px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.quarantee__text {
  width: 525px;
  height: 100px;
  color: #62646c;
  font-size: 16px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 0.192px;
  display: flex;
  align-items: center;
}

.quarantee__text-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 61%;
  bottom: 1400px;
  width: 311.88px;
  height: 908.818px;
  z-index: -1;
  transform: rotate(15deg);
  border-radius: 683.016px;
  opacity: 0.15;
  -moz-opacity: 0.15;
  -webkit-opacity: 0.15;
  filter: alpha(opacity=15);
  background: #6c48ff;
  filter: blur(90px);
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("../images/icons/gradientEllipse4.svg");
}

.quarantee__text-block::after {
  content: "";
  top: 0;
  position: absolute;
  left: 58%;
  bottom: 250px;
  width: 419.82px;
  height: 528.848px;
  transform: rotate(30deg);
  border-radius: 528.848px;
  flex-shrink: 0;
  opacity: 0.15;
  -moz-opacity: 0.15;
  -webkit-opacity: 0.15;
  filter: alpha(opacity=15);
  background: #48ffd3;
  filter: blur(90px);
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("../images/icons/gradientEllipse3.svg");
}

.quarantee-block {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.quarantee-title {
  color: #62646c;
  height: 43px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.quarantee__left-card {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(7px);
  width: 450px;
  height: 236px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quarantee__card-icon {
  position: relative;
  color: #dbdbdb;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.28px;
}

.quarantee__left-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  width: 30%;
}

.quarantee__left-card {
  width: 100%;
}

.quarantee__left-card-title-block {
  width: 80%;
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.quarantee__card-title {
  color: #dbdbdb;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.28px;
}

.quarantee__card-text {
  color: #62646c;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.168px;
  width: 74%;
}

.quarantee-cards {
  gap: 30px;
  display: flex;
  width: 100%;
}

.quarantee__middle-card-title-block {
  display: flex;
  gap: 18px;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.quarantee__middle-card {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(7px);
  width: 101%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quarantee__middle-cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: 32%;
}

.quarantee__right-cards {
  display: flex;
  /* flex-direction: column; */
  gap: 30px;
  flex-wrap: wrap;
  width: 33%;
}

.quarantee__right-card-title-block {
  display: flex;
  width: 80%;
  gap: 18px;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}

.quarantee__right-card {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(7px);
  width: 101%;
  height: 261px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quarantee__right-card:nth-child(2) {
  height: 55%;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  padding: 35px 0 0 0;
  justify-content: space-between;
  background: rgba(23, 27, 32, 0.36);
}

.footer__content {
  display: flex;
  justify-content: center;
  max-width: 1410px;
  width: 90%;
  margin: 0 auto;
  padding: 85px 0 85px 0;
}

.footer__logo {
  opacity: 0.55;
}

.footer__payLogos {
  display: grid;
  grid-template-columns: repeat(3, 100px);
}

.footer__info-text {
  color: #62646c;
  margin: 30px 120px 30px 0;
}

.footer__questions-title {
  color: #62646c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.footer__questions-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.footer__questions-list-item-link {
  text-decoration: none;
  color: rgba(219, 219, 219, 0.68);
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  transition: color 0.3s linear;
}

.footer__questions-list-item-link:hover {
  color: #dbdbdb;
}

.footer__questions-blocks {
  display: flex;
  gap: 200px;
}

.footer__payLogo {
  width: 80px;
  height: 40px;
}

.footer__questions-list-icons {
  display: flex;
  gap: 30px;
}

.footer__questions-list-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: #e4edef;
  transition: color 0.3s linear;
}

.footer__questions-list-icon:hover {
  color: #0cebeb;
}

.footer__about-text {
  display: flex;
  gap: 10px;
  color: #7b7c82;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.footer__about-text-link {
  color: rgba(98, 237, 237, 0.95);
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
}

.footer__about-container {
  max-width: 1410px;
  width: 90%;
  margin: 0 auto;
  border-top: 2px solid rgba(255, 255, 255, 0.04);
  display: flex;
  justify-content: space-between;
}

.footer__about-text-group {
  display: flex;
  gap: 20px;
}

/* Shopping Cart Popup */

.shopping-cart__container {
  position: fixed;
  display: none;
  align-items: center;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: rgba(17, 19, 23, 0.98); */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 3;
}

.shopping-cart__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px 0 0 0;
  align-items: center;
  width: 84%;
  left: 7%;
}

.shopping-cart-title {
  margin: 0;
  background: linear-gradient(90deg,
      #0cebeb 46.51%,
      #20e3b2 71.72%,
      #29ffc6 99.9%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 90px;
  font-weight: 700;
  line-height: 73.5px;
}

.shopping-cart-subtitle {
  padding: 0px 0 73px 0;
  margin: 0;
  color: rgba(219, 219, 219, 0.5);
  text-align: center;

  font-size: 23px;
  font-weight: 500;
  line-height: 73.5px;
}

.shopping-cart__block {
  /* width: 875px; */
  /* height: 601px; */
  display: flex;
}

.shopping-cart__left-block {
  width: 432px;
  height: 690px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 12px 0px 0px 12px;
  background: #181c22;
}

.shopping-cart__left-subtitle {
  color: #62646c;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.shopping-cart__left-close {
  position: relative;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.shopping-cart__left-close::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/closeModal.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}

.shopping-cart__left-title {
  margin: 0;
  color: #dbdbdb;
  padding: 0 0 10px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.48px;
}

.shopping-cart__left-block-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  background: none;
  border: none;
}

.shopping-cart__left-text {
  color: #62646c;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

.shopping-cart__left-cards-block {
  display: flex;
  width: 400px;
  height: 200px;
  border-radius: 8px;
  gap: 14px;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
}

.shopping-cart__card {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.03);
  padding: 18px 16px;
  width: 370px;
}

.shopping-cart__card-block {
  display: flex;
  gap: 50px;
  align-items: center;
}

.shopping-cart__card-quantity {
  display: flex;
  gap: 20px;
  align-items: center;
}

.shopping-cart__card-quantity-plus,
.shopping-cart__card-quantity-minus {
  display: flex;
  position: relative;
  width: 17px;
  height: 20px;
  padding: 23px 16px;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.shopping-cart__card-quantity-plus::before {
  content: "";
  background: rgba(255, 255, 255, 0.03);
  position: absolute;
  right: 45px;
  min-height: 20px;
  width: 1px;
}

.shopping-cart__card-quantity-plus::after {
  content: "";
  position: absolute;
  background-image: url("../images/icons/plusIcon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}

.shopping-cart__card-quantity-minus::after {
  content: "";
  position: absolute;
  background-image: url("../images/icons/minus.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 3px;
}

.shopping-cart__card-block {
  display: flex;
  justify-content: space-between;
  color: #62646c;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
}

.shopping-cart__total {
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopping-cart__total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 410px;
}

.shopping-cart__text {
  color: #62646c;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.168px;
}

.shopping-cart__subtext {
  padding: 0 20px 0 0;
  color: #dbdbdb;
  text-align: right;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.56px;
}

.shopping-cart__total-block {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.shopping-cart__total-promocode {
  width: 280px;
}

.shopping-cart__total-btn {
  display: flex;
  width: 400px;
  height: 80px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 12px;
  background: linear-gradient(90deg,
      #0cebeb -0.44%,
      #20e3b2 33.48%,
      #29ffc6 71.39%);
  color: #111317;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

.shopping-cart__input {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.03);
  border: none;
  width: 90%;
  max-width: 1319px;
  padding: 0 65px 0px 79px;
  text-align: left;
  height: 70px;
  gap: 20px;
  outline: none;
  color: #62646c;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.shopping-cart__input::placeholder {
  color: #62646c;
}

.shopping-cart__input:focus {
  color: #dbdbdb;
}

.shopping-cart__input-btn {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 30px;
  height: 20px;
  top: 40px;
  left: 26px;
}

.shopping-cart__input-btn::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/promocode.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 38px;
  height: 24px;
  top: 0px;
  left: -115px;
}

.shopping-cart__right-block {
  display: flex;
  border-radius: 0px 12px 12px 0px;
  background: #181c22;
  flex-direction: column;
  padding: 30px;
  width: 558px;
  height: 690px;
}

.shopping-cart__right-subtitle {
  color: #62646c;
  font-size: 12px;
  width: 440px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

.shopping-cart__right-btns-block {
  display: flex;
  gap: 14px;
  height: 45%;
  width: 98%;
  flex-wrap: wrap;
}

.shopping-cart__right-btn--active {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px;
  width: 24%;
  height: 20%;
  border-radius: 6px;
  border: 2px solid #0cebeb;
  cursor: pointer;
}

.shopping-cart__btn-title-img-qiwi {
  background-image: url("../images/icons/qiwi.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 120px;
  height: 66px;
}

.shopping-cart__btn-title-img-qiwi::before {
  content: "qiwi";
  position: absolute;
  text-transform: uppercase;
  color: #62646c;

  font-size: 6px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  top: 0;
  left: 10px;
}

.shopping-cart__right-btn-freekassa,
.shopping-cart__right-btn-visa,
.shopping-cart__right-btn-walletKz,
.shopping-cart__right-btn-walletUkr,
.shopping-cart__right-btn-bitcoin,
.shopping-cart__right-btn-sbp,
.shopping-cart__right-btn-steam {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px;
  width: 25%;
  height: 20%;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.03);
  cursor: pointer;
}

.shopping-cart__btn-title-img-freekassa {
  background-image: url("../images/icons/freekassaIcon.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 120px;
  height: 66px;
}

.shopping-cart__btn-title-img-freekassa::before {
  display: none;
  content: "freekassa";
  position: absolute;
  text-transform: uppercase;
  color: #62646c;

  font-size: 6px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  top: 0;
  left: 10px;
}

.shopping-cart__btn-title-img-visa {
  background-image: url("../images/icons/visa.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
}

.shopping-cart__btn-title-img-visa::before {
  display: none;
  content: "visa";
  position: absolute;
  text-transform: uppercase;
  color: #62646c;

  font-size: 6px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  top: 0;
  left: 10px;
}

.shopping-cart__btn-title-img-walletKz {
  background-image: url("../images/icons/kzFlag.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 65px;
  height: 40px;
}

.shopping-cart__btn-title-img-walletKz::before {
  display: none;
  content: "wallet";
  position: absolute;
  text-transform: uppercase;
  color: #62646c;

  font-size: 6px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  top: 0;
  left: 10px;
}

.shopping-cart__btn-title-img-walletUkr {
  background-image: url("../images/icons/Group.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
}

.shopping-cart__btn-title-img-walletUkr::before {
  display: none;
  content: "wallet";
  position: absolute;
  text-transform: uppercase;
  color: #62646c;

  font-size: 6px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  top: 0;
  left: 10px;
}

.shopping-cart__btn-title-img-bitcoin {
  background-image: url("../images/icons/bitcoin.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.shopping-cart__btn-title-img-bitcoin::before {
  display: none;
  content: "bitcoin";
  position: absolute;
  text-transform: uppercase;
  color: #62646c;

  font-size: 6px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  top: 0;
  left: 10px;
}

.shopping-cart__btn-title-img-sbp {
  background-image: url("../images/icons/sbp.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 40px;
}

.shopping-cart__btn-title-img-sbp-text {
  background-image: url("../images/icons/sbpIcon.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 40px;
}

.shopping-cart__btn-title-img-sbp::before {
  display: none;
  content: "sbp";
  position: absolute;
  text-transform: uppercase;
  color: #62646c;

  font-size: 6px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  top: 0;
  left: 10px;
}

.shopping-cart__btn-title-img-steam {
  background-image: url("../images/icons/steamIcon.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
}

.shopping-cart__btn-title-img-steam::before {
  display: none;
  content: "steam";
  position: absolute;
  text-transform: uppercase;
  color: #62646c;

  font-size: 6px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  top: 0;
  left: 10px;
}

.shopping-cart__right-input {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.03);
  color: #dbdbdb;
  border: none;
  width: 90%;
  max-width: 1319px;
  padding: 0 65px 0px 79px;
  text-align: left;
  height: 70px;
  gap: 20px;
  outline: none;

  font-size: 18px;
  font-weight: 500;
  line-height: 73.5px;
}

.shopping-cart__right-input:focus {
  color: #dbdbdb;
}

.shopping-cart__right-input::placeholder {
  color: #62646c;
}

.shopping-cart__right-input-mail {
  position: relative;
  margin: 45px 0 30px 0;
  width: 98%;
  height: 65px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.03);
  display: flex;
  align-items: center;
}

.shopping-cart__right-input {
  height: 100px;
  padding: 0 70px 0 20px;
  background: none;
  outline: none;
  border: none;
}

.shopping-cart__right-input-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 50px;
  height: 30px;
  top: 5px;
  right: 65px;
}

.shopping-cart__right-input-btn::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 38px;
  height: 24px;
  top: 20px;
  left: 15px;
}

.shopping-cart__right-info-block {
  width: 420px;
  padding: 10px;
  height: 175px;
  border-radius: 6px;
  background: rgba(224, 173, 50, 0.04);
}

.shopping-cart__right-block-text {
  margin: 0;
  padding: 0 0 10px 0;
  color: rgba(224, 173, 50, 0.88);
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.144px;
}

/* Адаптив */

@media (max-width: 1195px) {

  .quarantee__wrapper::after,
  .quarantee__wrapper::before,
  .quarantee__text-block::before,
  .quarantee__text-block::after {
    display: none;
  }

  .quarantee-block {
    flex-direction: row;
    height: 67%;
  }

  .quarantee-cards {
    width: 100%;
    height: 100%;
  }

  .quarantee__left-cards {
    width: 31%;
    height: 85%;
  }

  .quarantee__left-card {
    width: 100%;
    height: 35%;
  }

  .quarantee__left-card-title-block {
    width: 80%;
  }

  .quarantee__right-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    width: 31%;
    height: 65%;
  }

  .quarantee__right-card:nth-child(1) {
    width: 102%;
    height: 48%;
  }

  .quarantee__right-card:nth-child(2) {
    height: 70%;
  }

  .quarantee__right-card-title-block {
    width: 80%;
  }

  .quarantee__middle-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 32%;
    height: 52%;
  }

  .quarantee__middle-card:nth-child(1) {
    width: 99%;
    height: 89%;
  }

  .quarantee__middle-card:nth-child(2) {
    width: 99%;
    height: 100%;
  }

  .quarantee__middle-card-title-block {
    width: 80%;
  }

  .quarantee__card-text {
    width: 79%;
  }

  .quarantee__text-block {
    height: 10%;
  }

  .footer__about-text-group {
    padding: 10px 0 0 0;
  }

  .footer__about-container {
    padding: 0 0 20px 0;
  }

  .footer__questions-blocks {
    gap: 15px;
  }
}

@media (max-width: 990px) {
  .header__content {
    max-width: 722px;
    padding: 21px 26px;
    width: 90%;
  }

  .header__adaptive-btn {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .header__side-panel-link:nth-child(2),
  .header__side-panel-link:nth-child(3) {
    display: none;
  }

  .quarantee-cards {
    flex-direction: column;
    width: 100%;
  }

  .quarantee__card-title {
    font-size: 18px;
  }

  .quarantee-block {
    height: 78%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    flex-wrap: wrap;
  }

  .quarantee__wrapper {
    height: 2000px;
  }

  .quarantee__text-block {
    height: 10%;
  }

  .quarantee__left-cards {
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .quarantee__middle-card:nth-child(2) {
    height: 100%;
  }

  .quarantee__middle-cards {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .quarantee__middle-card {
    width: 99%;
    height: 99%;
  }

  .quarantee__middle-card:nth-child(1) {
    width: 102%;
    height: 97%;
  }

  .quarantee__right-cards {
    width: 100%;
    height: 24%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .quarantee__right-card:nth-child(1) {
    width: 48%;
    height: 99%;
    flex-direction: column;
  }

  .quarantee__right-card:nth-child(2) {
    width: 50%;
    height: 100%;
  }

  .quarantee__right-card-title-block {
    width: 80%;
  }

  .quarantee__left-card {
    width: 105%;
    height: 99%;
  }

  .footer__content {
    max-width: 722px;
    padding: 21px 26px;
    width: 90%;
  }

  .footer__questions-blocks {
    flex-direction: column;
    gap: 15px;
  }

  .footer__info-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .footer__about-container {
    flex-direction: column;
    max-width: 722px;
    padding: 0 0 30px 0;
  }

  .footer__about-text-group {
    padding: 40px 0 0 0;
  }
}

@media (max-width: 562px) {

  .quarantee__wrapper::after,
  .quarantee__wrapper::before,
  .quarantee__text-block::before,
  .quarantee__text-block::after {
    display: none;
  }

  .nav__logo {
    width: 60px;
    height: 30px;
  }

  .nav__logo::after {
    bottom: 4px;
    left: 88px;
  }

  .header__content {
    max-width: 350px;
    width: 80%;
  }

  .header__adaptive-btn {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .header__side-panel-link:nth-child(2),
  .header__side-panel-link:nth-child(3) {
    display: none;
  }

  .quarantee__wrapper {
    height: 2400px;
    max-width: 350px;
    width: 80%;
  }

  .quarantee__title:nth-child(2) {
    position: relative;
    top: 2%;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 50px;
  }

  .quarantee__text {
    width: 300px;
    font-size: 13px;
    text-align: left;
  }

  .quarantee-block {
    border: none;
    max-width: 350px;
    width: 98%;
    display: flex;
    gap: 27px;
  }

  .quarantee__text-block {
    width: 100%;
    height: 5%;
  }

  .quarantee__subtitle {
    margin: -20px 0 -29px 0;
  }

  .quarantee-title {
    position: relative;
    top: 1%;
    padding: 0;
    display: flex;
  }

  .quarantee__title-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .quarantee-cards {
    width: 100%;
    height: 100%;
  }

  .quarantee__right-cards {
    width: 100%;
    height: 31%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .quarantee__left-cards {
    flex-direction: column;
    height: 25%;
  }

  .quarantee__middle-cards {
    flex-direction: column;
    height: 37%;
  }

  .quarantee__middle-card:nth-child(1) {
    width: 100%;
    height: 81%;
  }

  .quarantee__middle-card:nth-child(2) {
    height: 100%;
  }

  .quarantee__left-card {
    width: 101%;
  }

  .quarantee__middle-card {
    width: 101%;
    height: 50%;
  }

  .quarantee__right-card {
    width: 101%;
    height: 60%;
  }

  .quarantee__right-card:nth-child(1) {
    width: 100%;
    height: 74%;
  }

  .quarantee__right-card:nth-child(2) {
    height: 100%;
    width: 100%;
  }

  .quarantee__left-card-title-block {
    width: 70%;
  }

  .quarantee__middle-card-title-block {
    width: 70%;
  }

  .quarantee__right-card-title-block {
    width: 70%;
  }

  .quarantee__card-text {
    width: 85%;
  }

  .footer__about-text {
    flex-direction: column;
  }

  .footer__about-text-group {
    flex-direction: column;
    padding: 10px 0 0 0;
  }

  .footer__about-container {
    flex-direction: column;
    max-width: 350px;
    width: 80%;
  }

  .footer__questions-blocks {
    flex-direction: column;
    gap: 15px;
  }

  .footer__content {
    max-width: 350px;
    width: 80%;
    flex-direction: column;
  }
}