/* Search Popup */

.search-popup__container {
    position: fixed;
    display: none;
    align-items: center;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(17, 19, 23, 0.98);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 3;
}

.search-popup__content {
    display: none;
    position: relative;
    max-width: 1870px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0 0 0;
    align-items: center;
}

.search-popup-title {
    margin: 0;
    width: 100%;
    color: #dbdbdb;
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    line-height: 73.5px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.search-popup-title span {
    background: linear-gradient(90deg,
            #0cebeb 46.51%,
            #20e3b2 71.72%,
            #29ffc6 99.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 90px;
    font-weight: 700;
    line-height: 73.5px;
}

.search-popup-subtitle {
    padding: 0px 0 96px 0;
    margin: 0;
    color: rgba(219, 219, 219, 0.5);
    text-align: center;

    font-size: 23px;
    font-weight: 500;
    line-height: 73.5px;
}

.search-popup__input-group {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    width: 100%;
}

.search-popup__input-group .search-popup__input__btn {
    position: absolute;
    top: 27px;
    left: 30px;
    display: block;
    background-image: url("../images/icons/BtnSearch.svg");
    text-align: center;
    pointer-events: none;
}

.search-popup__input__btn:before {
    content: "";
    position: absolute;
    background-image: url("../images/icons/BtnSearch.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: contain;
    z-index: 9;
    width: 16px;
    height: 16px;
}

.search-popup__input {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 8px;
    background: #181b20;
    color: #dbdbdb;
    border: none;
    width: calc(100% - 144px);
    max-width: 1319px;
    padding: 0 65px 0px 79px;
    text-align: left;
    height: 70px;
    gap: 20px;
    outline: none;

    font-size: 18px;
    font-weight: 500;
    line-height: 73.5px;
}


.search-popup__input:focus {
    color: #dbdbdb;
    border: 1px solid #0cebeb;
    background: #181b20;
}

.search-popup__input-btn {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    z-index: 5;
    margin: 0 46px 5px 0;
}

.search-popup__results-container {
    width: 97%;
    /* height: 400px; */
    margin: 60px 0 0 0;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.03);
    background: #171b20;
    padding: 22px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.search-popup__results-container--hidden {
    display: none;
}

.search-popup__results-text {
    color: #62646c;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
}

/* .search-popup__input-container {
    width: 84%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background: #181b20;
} */

.search-popup__results-cards {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.results-card {
    position: relative;
    height: 50px;
    gap: 12px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 22px 18px;
}

.results-card:hover {
    background: rgba(255, 255, 255, 0.01);
}

.results-card-img {
    background-image: url("./images/spotify.jpg");
    width: 64px;
    height: 56px;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.results-card-text-block {
    gap: 6px;
    display: flex;
    flex-direction: column;
}

.results-card-title {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.192px;
    text-align: left;
}

.results-card-icons {
    display: flex;
    gap: 60px;
}

.results-card-group-icons {
    display: flex;
    gap: 5px;
}

.results-card-info {
    width: calc(100% - 40px);
}

.results-card-icon-info {
    display: flex;
    width: 115px;
    height: 25px;
    padding: 2px;
    justify-content: center;
    gap: 3px;
    border-radius: 8px;
    background: rgba(118, 219, 161, 0.12);
    color: #76dba1;

    font-size: 10px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.results-card-icon-info::before {
    content: "";
    background-image: url("../images/icons/infoIcon1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    min-height: 12px;
    display: flex;
    justify-content: center;
}

.results-card-icon-spotify {
    position: relative;
    display: flex;
    width: 115px;
    height: 25px;
    padding: 2px;
    justify-content: center;
    gap: 3px;
    border-radius: 8px;
    background: rgba(118, 219, 161, 0.12);
    color: #76dba1;

    font-size: 10px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.results-card-icon-spotify::before {
    content: "";
    background-image: url("../images/icons/spotify.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    min-height: 12px;
    display: flex;
    justify-content: center;
}

.results-card-icon-spotify::after {
    content: "";
    background: rgba(255, 255, 255, 0.03);
    position: absolute;
    top: 15%;
    left: 135%;
    min-height: 20px;
    width: 1px;
}

.results-card-steam::after {
    content: "";
    background: rgba(255, 255, 255, 0.03);
    position: absolute;
    left: 150px;
    min-height: 20px;
    width: 1px;
}

.results-card-steam {
    position: relative;
    display: flex;
    width: 115px;
    height: 25px;
    padding: 2px;
    justify-content: center;
    gap: 3px;
    border-radius: 8px;
    background: rgba(118, 219, 161, 0.12);
    color: #76dba1;

    font-size: 10px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.results-card-steam::before {
    content: "";
    background-image: url("../images/icons/steam.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    min-height: 12px;
    display: flex;
    justify-content: center;
}

.results-card-price {
    border-radius: 8px;
    height: 18px;
    background: rgba(255, 255, 255, 0.03);
    padding: 6px 17px;
    display: flex;
    align-items: center;
}

.results-card-price::after {
    content: "₽350";
    background: linear-gradient(90deg,
            #0cebeb 0.25%,
            #20e3b2 47.04%,
            #29ffc6 99.32%);
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
    font-size: 16px;
}

.results-card-price::before {
    content: "";
    background: rgba(255, 255, 255, 0.03);
    position: absolute;
    bottom: 30px;
    right: 140px;
    min-height: 20px;
    width: 1px;
}

.results-card-btn {
    position: relative;
    display: flex;
    width: 6px;
    height: 11px;
    padding: 2px;
    top: 0px;
    left: 680px;
    justify-content: center;
    gap: 3px;
    border-radius: 8px;
    color: #76dba1;
    background: none;
    border: none;

    font-size: 10px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

.results-card-btn::before {
    content: "";
    position: absolute;
    background-image: url("../images/icons/linkbtnIcon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    min-height: 12px;
    display: flex;
    justify-content: center;
}



@media (max-width: 990px) {
    /* Search popup */

    .search-popup__content {
        max-width: 915px;
        width: 100%;
        margin: 100px 0 0 0;
    }

    .search-popup-title {
        font-size: 36px;
        padding: 0;
    }

    .search-popup-title span {
        font-size: 36px;
    }

    .search-popup-subtitle {
        display: none;
    }

    .search-popup__input {
        /* width: 50%; */
        width: calc(100% - 81px);
        padding: 0 0px 0 81px;
        font-size: 16px;
    }


    .search-popup__input-container {
        width: 90%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        background: #181b20;
    }

    .search-popup__input-group .search-popup__input__btn {
        top: 27px;
        left: 49px;
    }

    .search-popup__results-container {
        width: 90%;
    }

    .results-card-img {
        width: 64px;
        height: 56px;
    }

    .results-card-icon-info,
    .results-card-icon-spotify,
    .results-card-steam {
        font-size: 0;
        width: 30px;
    }

    .results-card-price {
        border-radius: 20px;
    }

    .results-card-price::before {
        display: none;
    }

    .results-card-info {
        width: 70%;
    }

    .results-card-icons {
        gap: 24px;
    }
}