body {
    font-family: 'Montserrat', sans-serif;
    background-color: #111317;
    min-width: 350px;
    position: relative;
    margin: 0;
    padding: 0;
}

body::after {
    content: "";
    background-image: url("../images/pattern.png");
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.25;
    -moz-opacity: 0.25;
    -webkit-opacity: 0.25;
    filter: alpha(opacity=25);
}

.terms {
    max-width: 1410px;
    width: 90%;
    margin: 0 auto;
}

.terms__wrapper {
    position: relative;
    max-width: 1410px;
    height: 1164px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    margin: 0 auto;

}

/* .terms__wrapper::before {
    content: "";
    position: absolute;
    bottom: 1200px;
    width: 311.88px;
    height: 908.818px;
    z-index: -1;
    transform: rotate(-31.418deg);
    border-radius: 908.818px;
    opacity: 0.15;
    -moz-opacity: 0.15;
    -webkit-opacity: 0.15;
    filter: alpha(opacity=15);
    background: #6C48FF;
    filter: blur(90px);
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("../images/icons/gradientEllipse2.svg");

}

.terms__wrapper::after {
    content: "";
    position: absolute;
    right: 1199px;
    bottom: 1201px;
    width: 311.88px;
    height: 908.818px;
    z-index: -1;
    transform: rotate(-31.418deg);
    border-radius: 908.818px;
    opacity: 0.15;
    -moz-opacity: 0.15;
    -webkit-opacity: 0.15;
    filter: alpha(opacity=15);
    background: #48FFD3;
    filter: blur(85px);
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("../images/icons/gradientEllipse1.svg");
} */

.terms-list {
    display: flex;
    flex-direction: column;
    gap: 55px;
    padding: 20px 0 0 22px;
    color: #62646C;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.168px;
}




/* Header */

.header {
    width: 100%;
    background: rgba(23, 25, 29, 0.48);
    /* -webkit-backdrop-filter: blur(53.5px); */
    backdrop-filter: blur(53.5px);
}

.header__content {
    display: flex;
    align-items: center;
    max-width: 1410px;
    width: 90%;
    margin: 0 auto;
}

.header__nav {
    /* margin-left: 0; */
    width: 320px;
    padding: 30px 15px;
}

.nav__logo {
    position: relative;
    margin: 0 50px 0 0;
}

.nav__logo::after {
    content: "";
    background: rgba(255, 255, 255, 0.22);
    position: absolute;
    bottom: 12px;
    left: 95px;
    height: 20px;
    width: 1px;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    padding: 0;
    color: rgba(219, 219, 219, 0.68);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    margin: 0;
}

.header__nav-link {
    text-decoration: none;
    color: rgba(219, 219, 219, 0.68);
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    transition: color 0.3s linear;
}

.header__nav-link:hover {
    color: #DBDBDB;
}

.header__center-btn {
    margin: 0 auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #95979F;
    transition: color 0.3s linear;
}

.header__center-btn:hover {
    color: #DBDBDB;
}


.header__side-panel {
    display: flex;
    gap: 40px;
}

.header__side-panel-link {
    display: flex;
    justify-content: center;
    padding: 12px 24px;
    padding-left: 40px;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    align-items: center;
    color: rgba(219, 219, 219, 0.85);
    position: relative;
    transition: color 0.3s linear;
}

.header__side-panel-link:hover {
    color: #DBDBDB;
}

.header__side-panel-link:nth-child(1)::before {
    content: "";
    background-image: url("../images/icons/btnInfo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
}

.header__side-panel-link:nth-child(2) {
    font-size: 14px;
    padding: 17px 15px;
    padding-left: 40px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.07);
}

.header__side-panel-link:nth-child(2)::before {
    content: "";
    background-image: url("../images/icons/btnProfile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
}


.header__side-panel-link:nth-child(3) {
    color: #111317;
    background: #4AF7CA;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.28px;
    border-radius: 8px;
}

.header__side-panel-link:nth-child(2)::after {
    content: "";
    background: rgba(255, 255, 255, 0.22);
    position: absolute;
    bottom: 12px;
    left: 122px;
    height: 20px;
    width: 1px;
}

.header__side-panel-link:nth-child(3)::before {
    content: "";
    background-image: url("../images/icons/btnTg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    min-height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
}



.terms__links {
    display: flex;

}

.terms-link {
    color: rgba(229, 229, 229, 0.50);
    background-repeat: no-repeat;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;

}

.terms-link:nth-child(1)::after {
    content: ">";
    background-position: center;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.18px;
}



.terms__subtitle {
    color: #DBDBDB;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-transform: capitalize;
}

.terms__title {
    background: linear-gradient(90deg, #0CEBEB -0.44%, #20E3B2 33.48%, #29FFC6 71.39%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
    font-weight: 800;
    line-height: 59px;
    text-transform: capitalize;
    margin: 12px 0;
}

.terms__title-block {
    display: flex;
    flex-direction: column;
}

.terms__text-block {
    max-width: 1410px;
    margin: 0 0 10px 0;
    display: flex;
    height: 129px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.terms__text {
    width: 525px;
    height: 100px;
    color: #62646C;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    line-height: 28.8px;
    letter-spacing: 0.192px;
}


/* .terms__text-block::before {
    content: "";
    position: absolute;
    right: 200px;
    top: 0px;
    right: 184px;
    bottom: 1904px;
    z-index: -1;
    transform: rotate(15deg);
    border-radius: 683.016px;
    opacity: 0.15;
    -moz-opacity: 0.15;
    -webkit-opacity: 0.15;
    filter: alpha(opacity=15);
    background: #6C48FF;
    filter: blur(90px);
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("../images/icons/gradientEllipse4.svg");

}

.terms__text-block::after {
    content: "";
    right: 0px;
    top: 53px;
    width: 419.82px;
    z-index: -5;
    height: 528.848px;
    z-index: -3;
    transform: rotate(30deg);
    border-radius: 528.848px;
    flex-shrink: 0;
    opacity: 0.15;
    -moz-opacity: 0.15;
    -webkit-opacity: 0.15;
    filter: alpha(opacity=15);
    background: #48FFD3;
    filter: blur(90px);
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("../images/icons/gradientEllipse3.svg");
} */

.terms-block {
    width: 1410px;
}


.terms-title {
    color: #DBDBDB;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.192px;
}


/* Footer */


.footer {
    display: flex;
    flex-direction: column;
    padding: 35px 0 0 0;
    justify-content: space-between;
    background: rgba(23, 27, 32, 0.36);
}

.footer__content {
    display: flex;
    justify-content: center;
    max-width: 1410px;
    width: 90%;
    margin: 0 auto;
    padding: 85px 0 85px 0;
}



.footer__logo {
    opacity: 0.55;
}

.footer__payLogos {
    display: grid;
    grid-template-columns: repeat(3, 100px);
}

.footer__info-text {
    color: #62646C;
    margin: 30px 120px 30px 0;
}

.footer__questions-title {
    color: #62646C;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.footer__questions-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}


.footer__questions-list-item-link {
    text-decoration: none;
    color: rgba(219, 219, 219, 0.68);
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
}

.footer__questions-blocks {
    display: flex;
    gap: 200px;
}

.footer__payLogo {
    width: 80px;
    height: 40px;
}

.footer__questions-list-icons {
    display: flex;
    gap: 30px;
}

.footer__questions-list-icon {
    background: none;
    border: none;
    cursor: pointer;
}


.footer__about-text {
    display: flex;
    gap: 10px;
    color: #7B7C82;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footer__about-text-link {
    color: rgba(98, 237, 237, 0.95);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
}

.footer__about-container {
    max-width: 1410px;
    width: 90%;
    margin: 0 auto;
    border-top: 2px solid rgba(255, 255, 255, 0.04);
    display: flex;
    justify-content: space-between;

}

.footer__about-text-group {
    display: flex;
    gap: 20px;
}
